<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<!-- Very important, the IIS configuration must have the 
           overrideModeDefault to allow in the file  
           %systemroot%\System32\inetsrv\config\applicationHost.config -->
			<!-- section name="requestFiltering" overrideModeDefault="Allow" /> -->
			<requestFiltering>
				<fileExtensions allowUnlisted="true">
					<remove fileExtension=".cs" />
				</fileExtensions>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>