@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.blankline
{
    height: .72vh;
    min-height: .72vh;
    max-height: .72vh;
}
.blanklinesmall
{
    height: .48vh;
    min-height: .48vh;
    max-height: .48vh;
    
}
.bottomsidebar
{
    position: fixed;    
    bottom: 2vh;  
    left: .4%;    
    width: 13.2%;    
    height: auto;
    min-height: 12vh;
    background-image: url('../Images/YouTubeBlue.png');
    background-size: 100% 100%;
    border: none;
    outline: none;
}
.bottomsidebar:focus
{
    border: none;
    outline: none;
}
.bottomsidebar:hover
{
    border: none;
    outline: none;
    cursor: pointer;
}
.businesscard
{
    float: right;
    position: fixed;    
    top: 16vh;  
    right: 4%;    
    width: 22%;    
    height: auto;
    min-height: 22vh;
    background-image: url('../images/BusinessCard.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}
.downloadlink2hover
{
    color: white;
}
.downloadlink2hover:hover
{
    color: orange !important;
}
.instructionscolumn1
{
    position: fixed;
    left: 18%;
    top: 48vh;
}
.instructionscolumn2
{
    position: fixed;
    left: 28%;
    top: 48vh;
}
.contentmain
{
    width: 92%;
    height: 86vh;
    position: fixed;
    left: 14%;
    top: 14vh;
    flex-direction: column;
    background-image: url('../images/BlueBody.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}
.contentmaintoprow
{
    width: 100%;
    height: 10vh;    
    position: fixed;
    left: 14%;
    top: 0vh;
}
.customfileupload
{  
    display: inline-block;
    cursor: pointer;
    height: 48px;
    min-height: 48px;
    visibility: hidden;
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
}
.displayinline
{
    display: inline;
}
.displayinlineblock
{
    display: inline-block;
}
.horizontal-center 
{
  margin: 0;
  position: absolute;
  left: 50%;  
  transform: translateX(-50%);
}
.logo
{
    background-image: url('../images/ExcelerateLogoSmallWhite.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    width: 8.4%;
    height: 10.8vh;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 2.68%;
    top: 2vh;    
}
.logotext
{
    background-image: url('../images/LogoTextSparkled.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 14%;    
    top: 1.6vh;
    width: 42.65%;
    height: 7.8vh;
}
margintopsmall
{
    margin-top: .02vh;
    margin-bottom: 0;
}
.movedownsmall
{
    position: relative;
    top: 1.6vh;
}
.noborder
{
    display: block;
    outline: none;
    border: none;
    z-index: 51;
}
.noborder:after
{
    outline: none;
    border: none;
}
.noborder:focus
{
    outline: none;
    border: none;
}
.orangetext
{
    color: orange !important;
}
.orangetext:visited
{
    color: orange !important;
}
.progresscontainer
{
    position: fixed;
    left: 52%;
    top: 19.2vh;
    transform: scale(.9);
    transform-origin: left;
}
.sidebar 
{
    width: clamp(280px, 14%, 14%);
    max-width: clamp(280px, 14%, 14%);
    min-width: clamp(280px, 14%, 14%);
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    flex-direction: column;
    background-image: url('../images/TwoToneOrange.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}
.sidebarelement
{  
    position: fixed;    
    top: 19.2vh;  
    left: .4%;    
    width: 13.2%;    
    height: auto;
    min-height: 12vh;    
}
.smallicon
{  
    background-image: url('../images/ExcelIcon.png');
    height: 3.2vh;
    width: 16%;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    left: 0%;
}
.smallicon2
{  
    background-image: url('../images/Zip.png');
    height: 4.2vh;
    width: 4.2%;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    left: 6.4%;
    top: 22vh;
    color: white !important;
}
.smallicon2:hover
{
    color: white !important;
}
.topbar 
{
    width: 86%;
    height: 14vh;
    position: fixed;
    left: 14%;
    top: 0%;
    flex-direction: column;
    background-image: url('../images/OrangeTopBar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.topright
{  
    position: absolute;
    right: 12%;
    top: 4vh;
    height: 4vh;
    width: 28%;    
    z-index: 200;
}
.vertical-center 
{
  margin: 0;
  position: absolute;
  top: 50%;  
  transform: translateY(-50%);
}
.whitetext
{
    color: white !important;
    font-size: 11.4px;
}
.whitetext:visited
{
    color: white !important;
    font-size: 11.4px;
}
.zindex5
{
    z-index: 5;
}

a:link {
  text-decoration: none;  
}

a:visited {
  text-decoration: none;  
}

a:hover {
  text-decoration: none;
  color: midnightblue;
}

body 
{    
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: darkgray;
    overflow: hidden;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button
{
    cursor: pointer;
    display: none;
    visibility: hidden;
}

html{
    font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
