@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.bottomsidebar
{
    position: fixed;    
    bottom: 6vh;  
    left: .4%;    
    width: 13.2%;    
    height: auto;
    min-height: 12vh;
    background-color: pink;    
}
.contentmain
{
    width: 92%;
    height: 86vh;
    position: fixed;
    left: 14%;
    top: 14vh;
    flex-direction: column;
    background-image: url('../images/BlueBody.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contentmaintoprow
{
    width: 100%;
    height: 10vh;    
    position: fixed;
    left: 14%;
    top: 14vh;
}
.customfileupload
{  
    display: inline-block;
    cursor: pointer;
    height: 48px;
    min-height: 48px;
    visibility: hidden;
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
}
.displayinline
{
    display: inline;
}
.displayinlineblock
{
    display: inline-block;
}
.horizontal-center 
{
  margin: 0;
  position: absolute;
  left: 50%;  
  transform: translateX(-50%);
}
.logo
{
    background-image: url('../images/ExcelerateLogoSmallWhite.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    width: 8.4%;
    height: 10.8vh;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 2.68%;
    top: 2vh;    
}
.logotext
{
    background-image: url('../images/LogoTextSparkled.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 14%;    
    top: 1.6vh;
    width: 42.65%;
    height: 7.8vh;
}
.orangeButton
{
    position: fixed;
    background-color: transparent;
    border: 0px;
    outline: none;
    background-image: url('../images/OrangeButton.png');
    background-repeat: no-repeat;
    top: 22.8vh;
    left: 26%;
    width: 11.92%;
    height: 4%;
    background-size: 100% 100%;    
    cursor: pointer;
    text-align: center;
}
.selectclasses
{  
    width: 20%;
    height: 6vh;
    position: absolute;
    top: 16vh;
    left: 12.8%;
}
.sidebar 
{
    width: clamp(280px, 14%, 14%);
    max-width: clamp(280px, 14%, 14%);
    min-width: clamp(280px, 14%, 14%);
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    flex-direction: column;
    background-image: url('../images/TwoToneOrange.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sidebarelement
{  
    position: fixed;    
    top: 19.2vh;  
    left: .4%;    
    width: 13.2%;    
    height: auto;
    min-height: 12vh;    
}
.smallicon
{  
    background-image: url('../images/ExcelIcon.png');
    height: 3.2vh;
    width: 16%;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    left: 0%;
}
.topbar 
{
    width: 86%;
    height: 14vh;
    position: fixed;
    left: 14%;
    top: 0%;
    flex-direction: column;
    background-image: url('../images/OrangeTopBar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.topright
{  
    position: absolute;
    right: 12%;
    top: 4vh;
    height: 4vh;
    width: 28%;    
    z-index: 200;
}
.vertical-center 
{
  margin: 0;
  position: absolute;
  top: 50%;  
  transform: translateY(-50%);
}

body 
{    
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: darkgray;
    overflow: hidden;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button
{
    cursor: pointer;
    display: none;
    visibility: hidden;
}

html{
    font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
